@use '/src/constants/color.constants.scss' as *;

.facilitiesDiv {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.loading,
.info {
	max-width: 1362px;
	min-width: 300px;
	min-height: 300px;
	background-color: $bgSecondary;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 15px;

	padding: 20px;
	border-radius: 10px;
	border: 2px solid $border;
}
.card {
	cursor: pointer;
	user-select: none;
	width: 318px;
	height: 340px;
	padding: 0 7.5px;
	border: 2px dashed $text;

	h3 {
		font-size: 30px;
	}
	img {
		width: 300px;
		height: 200px;
		object-fit: cover;
		border-radius: 10px;
		border: 2px solid $border;
	}
}
@media (max-width: 400px) {
	.info {
		padding: 10px;
	}
}
@media (max-width: 360px) {
	.card {
		width: 298px;
		img {
			width: 280px;
		}
	}
	.info {
		padding: 5px;
	}
}
