@use '/src/constants/color.constants.scss' as *;

.header {
	display: flex;
	justify-content: space-between;

	background-color: $bgSecondary;
	height: 70px;

	padding: 0 20px 0 10px;
}
.logoDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		font-size: 32px;
		margin-bottom: 5px;
	}
}
.linksList {
	list-style-type: none;

	height: 100%;

	display: flex;
	gap: 20px;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.burgerButton {
	background-color: $bgSecondary;
	border: none;
	height: 100%;
	color: $border;

	display: none;
}

@media (max-width: 950px) {
	.header {
		padding: 0 10px;
	}
	.linksList {
		flex-direction: column;

		position: absolute;
		top: 70px;
		right: 0;
		max-height: fit-content;
		z-index: 1;

		background-color: $bgSecondary;
		padding: 20px 40px;
		border-radius: 0 0 0 15px;
		border: 2px solid $border;

		transition: transform 1s ease-out;
		transform: translate(100%);
	}

	.burgerButton {
		display: block;
	}

	.linksList.active {
		transform: translate(0%);
	}
}
