@use '/src/constants/color.constants.scss' as *;

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 140px);

	padding: 30px;
}
.infoDiv {
	display: flex;
	align-items: center;
	flex-direction: column;

	min-width: 400px;
	hr {
		width: 100%;
		border: 2px dashed $border;
	}
}
.infoHeader {
	border-radius: 10px 10px 0 0;
	background-color: $bgSecondary;
	border: 2px solid $border;
	border-bottom: none;
	padding: 5px 15px;

	display: flex;
	flex-direction: column;
	gap: 5px;
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
}
.info {
	min-height: 200px;
	background-color: $bgSecondary;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 20px;
	border-radius: 10px;
	border: 2px solid $border;

	h2 {
		text-wrap: wrap;
		text-align: center;
		margin-bottom: 20px;
	}
}
.row {
	display: flex;
	list-style: none;
	border-right: 1px solid $border;
	border-left: 1px solid $border;

	li {
		padding: 2.5px 5px;
		border: 1px solid $border;
	}
}
.pointer {
	cursor: pointer;
}
.row:first-of-type {
	border-top: 1px solid $border;
}
.row:last-of-type {
	border-bottom: 1px solid $border;
}
.li1,
.li2 {
	width: 100px;
}
.li3,
.li4 {
	width: 80px;
}
.row .li5 {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	width: 28px;
}

.submitButton {
	width: 100%;
	padding: 5px 10px;
}

@media (max-width: 400px) {
	.info {
		padding: 10px;
	}
}
@media (max-width: 360px) {
	.info {
		padding: 5px;
	}
}
