@use '/src/constants/color.constants.scss' as *;

.submitButton {
	height: 40px;
	padding: 7.5px 15px;
	margin: 0 auto;

	border: 2px solid $border;
	border-radius: 7.5px;

	background-color: $button;

	font: inherit;
	color: $text;
}
.createDiv {
	display: flex;
	flex-direction: column;
	gap: 10px;

	> button {
		padding: 5px 10px;
	}

	.submitButton {
		width: 100%;
	}

	h2 {
		font-size: 30px;
	}
}
@media (max-width: 400px) {
	.div > .form > .inputDiv > input {
		font-size: 0.8rem;
	}
}
